<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title>
      LOOP ZONE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <blockquote>
      <ion-label>Create your own <span>loops</span> and play them whenever you want!</ion-label>
    </blockquote>
    <h2>RECORDED TRACKS</h2>
  </ion-grid>
  <ion-list [inset]="true">
    <ion-item-sliding *ngFor="let file of storedFileNames">

      <ion-item>
        <ion-label>{{ file.name }}</ion-label>
        <ion-icon button (click)="playFile(file, null)" [name]="playingAudio === file.name && 'stop' || 'play'" style="font-size: 1.7rem" [color]="playingAudio === file.name && 'danger' || 'success'"></ion-icon>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="promptFileDeletal(file)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item id="error-item" *ngIf="storedFileNames.length === 0">
      <p class="error-message">It seems like you haven't recorded anything yet, you should try!</p>
      <ion-icon name="mic" class="error-mic" color="danger"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-chip [color]="isRecording === true && 'danger' || 'dark'" [outline]="true" (click)="setRecording()">
    <ion-icon name="mic" [color]="isRecording === true && 'danger' || 'dark'"></ion-icon>
  </ion-chip>
</ion-content>
