blockquote {
  display: flex;
  align-items: center;

  background: linear-gradient(90deg, rgba(255,34,246,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

  border-radius: 6px;
  width: 100%;

  margin: auto;
  margin-top: 1rem;

  ion-label {
    width: 100%;
    padding: .75rem;
    font-weight: 500;
    text-align: center;
  }
}

ion-list {
  margin: 0 !important;
  margin-top: 14px !important;
}


ion-chip {
  position: absolute;
  bottom: 4.5rem;
  left: 50%;

  width: 4rem;
  height: 4rem;

  border-radius: 90%;

  padding: 0;
  margin: 0;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);

  ion-icon {
    margin: auto;
    width: 70%;
    height: 70%;
    transition: .2s ease-in;
  }
}

ion-item {
  width: 100%;
  height: fit-content;
  ion-icon {
    aspect-ratio: 1/1;
    max-width: 2rem;
    max-height: 2rem;
    width: 100%;
    height: 100%;
  }
}

ion-grid {
  padding-inline: 1rem;
}

ion-item-sliding {
  width: 100%;
}

.recording-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.recording-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 20%;
  height: 100%;
  ion-icon {
    transition: .3s ease-in;
  }
  ion-icon:hover {
    opacity: .5;
  }
}

.error-message {
  text-align: center;
}

.error-mic {
  font-size: 10rem;
}

.error-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: fit-content;
  max-height: 3rem !important;
}
