<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title>
      LOOP ZONE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <blockquote>
      <ion-label>Create your own <span>loops</span> and play them whenever you want!</ion-label>
    </blockquote>
    <h2>RECORDED TRACKS</h2>
  </ion-grid>
  <ion-list>
    <ion-card>
      <ion-item class="ion-activated">
        <ion-icon name="play" style="font-size: 1.7rem" color="success" slot="start"></ion-icon>
        <ion-label>START RECORDING</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="square" color="danger" slot="start"></ion-icon>
        <ion-label>STOP RECORDING</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-chip color="dark" [outline]="true">
    <ion-icon name="mic"></ion-icon>
  </ion-chip>
</ion-content>
