/* Ion Segment */

ion-segment-button {
  --color-selected: white;
  ion-icon {
    filter: invert(1);
  }
  ion-label {
    color: white;
  }
}

ion-segment-button::part(indicator-background) {
  background: #a72f00;
}

ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #a32c08;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: #a34e08;
}

.segment-button-checked.ios::part(native) {
  color: #fff;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 20px;
}

ion-spinner {
  aspect-ratio: 1/1;
  height: 6rem;
  width: 10rem;
}

/* Finish Ion Segment */

.background-image {
  height: 100%;
  width: 100%;
  position: fixed;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1);
  opacity: .1;
}

.loading-warning {
  color: rgb(255, 94, 0);
  margin-top: .5rem;
}

.note {
  user-select: none;
  font-size: 7rem;
}

.note-warning {
  color: rgb(255, 94, 0);
  margin-bottom: .5rem;
}
.start-warning {
  color: gray;
  margin-bottom: .5;
}

ion-chip {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  text-align: center;
  margin-bottom: 1rem;
}

ion-grid {
  display: flex;
  height: 100%;
  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    height: 100%;
    width: fit-content;
    max-width: 30vh;

    margin: 0;
  }
  ion-col:nth-child(1) {
    width: 10vh !important;
  }
  ion-col:nth-child(3) {
    width: 10vh !important;
  }
  ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;

    width: 100%;
    height: fit-content;
  }
}

#state {
  margin-top: 5px;
  font-size: 3rem;
}

#start-button {
  position: absolute;
  bottom: 4.5rem;
  left: 50%;

  width: 4rem;
  height: 4rem;

  border-radius: 90%;

  padding: 0;
  margin: 0;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);

  ion-icon {
    margin: auto;
    width: 70%;
    height: 70%;
    transition: .2s ease-in;
    filter: invert(1);
  }
}
