/* Ion Segment */

ion-segment-button {
  --color-selected: white;
  ion-icon {
    filter: invert(1);
  }
  ion-label {
    color: white;
  }
}

ion-segment-button::part(indicator-background) {
  background: #a72f00;
}

ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #a32c08;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: #a34e08;
}

.segment-button-checked.ios::part(native) {
  color: #fff;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 20px;
}

/* Finish Ion Segment */

.background-image {
  height: 100%;
  width: 100%;
  position: fixed;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1);
  opacity: .1;
}

.note {
  user-select: none;
  font-size: 7rem;
}

.note-warning {
  color: rgb(255, 94, 0);
  margin-bottom: .5rem;
}

.note-warning+.note-warning {
  color: gray;
  margin-bottom: 5rem;
}

.container {
  height: 100%;
  width: 100%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  ion-icon {
    font-size: 3rem;
  }
}

#state {
  margin-top: 5px;
}

ion-chip {
  position: absolute;
  bottom: 4.5rem;
  left: 50%;

  width: 4rem;
  height: 4rem;

  border-radius: 90%;

  padding: 0;
  margin: 0;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);

  ion-icon {
    margin: auto;
    width: 70%;
    height: 70%;
    transition: .2s ease-in;
    filter: invert(1);
  }
}
