ion-grid {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-inline: 2rem;
}

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100% !important;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#triangle {
  margin-bottom: 4vh;
  img {
    filter: invert(1);
    width: 80%;
    margin-top: 1rem;
    user-select: none;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.metronome {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  justify-content: space-between;
}

.bpm-display {
  width: 100%;
  text-align: center;
  color: #ff660e;
  font-weight: bold;
}
.bpm-display .tempo {
  font-size: 4em;
}

.bpm-display-2 {
  width: 100%;
  text-align: center;
  color: #ff660e;
  font-weight: bold;
}

.bpm-display-2 .tempo-2 {
  font-size: 2em;
}

ion-chip {
  margin: 0;
  padding: 0;

  border-radius: 100%;

  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  ion-icon {
    margin: auto;
    width: 100%;
    height: 100%;
    transition: .2s ease-in;
  }
}

.beat-per-measure {
  margin: auto;
  margin-top: 1rem;
}

span {
  user-select: none;
}

ion-button {

  position: absolute;
  bottom: 5rem;
  left: 50%;

  width: 8rem;
  height: 3rem;

  border-radius: 90%;

  padding: 0;
  margin: 0;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);

  --border-color: rgb(255, 116, 23);
  --color: rgb(255, 116, 23);
  --background-activated-opacity: 0;
  --background-focused-opacity: 0;
  --background-hover-opacity: 0;
  --ripple-color: rgb(199, 89, 16);

  span {
    margin-left: .3rem;
  }
}
